<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robotsoftwarestudio.onboardingscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Activity 1 (Onboardings) -->
        <activity
            android:name=".views.main.OnboardingActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity 2 (Loading) -->
        <activity
            android:name=".views.main.LoadingActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>


    </application>
</manifest>
